# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.client.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Shin Nguyen\Desktop\my-project\client\.idea\.idea.client.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
